@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
    position: relative;
    width:100%;
    z-index: 1;
    height:500px;
    overflow: hidden;
    top: 0;
    left: 0;
}
header .container {
    padding-top: 60px;
    padding-bottom: 60px;
}
label
{
  font-family: Helvetica;

}
.form_interns
{

font-family: Helvetica;

}
header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 400;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.stu-img
{

  height:40px;
}

section {
    padding: 50px 0;
    width: 100%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

.submit:hover
{
  color:#fff;
}
.logo
{
  height:50px;margin:40px;
}
.goto,.goto:hover,.goto:focus
{
  cursor:pointer;
  text-decoration:none;
  color:#fff;
  font-size:18px;
  margin:40px;
}
.flex_content
{
  height: 500px;
  display:flex;
}
.child
{
  margin:auto;
  display: flex;
}
h2
{
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.check
{
  height:100px;
  margin:auto;
}
@media only screen and (max-width:767px)
{
  .check
  {
    height:60px;
    margin:auto;
  }

  h2
  {
    font-size:28px;
  }
  header .container {
      padding-top: 0px;
      padding-bottom: 50px;
  }
  .goto,.goto:hover,.goto:focus
  {
    cursor:pointer;
    text-decoration:none;
    color:#fff;
    margin:20px;
    font-size:12px;
  }
  .logo
  {
    height: 30px;
    margin:15px;
  }
}
.input-field input
{
  color:rgba(0,0,0,0.75);
}
.input-field label
{
  font-weight: 500;
}
